/* This is not regular HTML-stle CSS, it's QT Stylesheet CSS */
/* For a reference of supported features, see http://qt-project.org/doc/qt-4.8/stylesheet-reference.html */

/* KiLauncher will style the main application background, etc */ 
KiLauncher { background-color: qlineargradient(x1:0,y1:0, x2:1, y2:1, stop:0 #111, stop:1 #435); }
QTabBar::tab, QTabWidget { font-size: 22px; font-weight: bold; color: #EFE; }
LaunchButton { background-color: #888; border: 2px solid white; border-radius: 10px; }
LaunchButton:hover { background-color: #AAA; }
LaunchButton:pressed { background-color: #666; }