/* This is not regular HTML-stle CSS, it's QT Stylesheet CSS */
/* For a reference of supported features, see http://qt-project.org/doc/qt-4.8/stylesheet-reference.html */

/* KiLauncher will style the main application background, etc */ 
KiLauncher { background-color: qlineargradient(x1:0,y1:0, x2:1, y2:1, stop:0 #334, stop:1 #435); }
QTabBar::tab, QTabWidget { font-size: 22px; font-weight: bold; color: #EFE;}
QTabWidget QLabel { color: #EFF; font-size: 16px; text-align: center; padding: 20px; }
LaunchButton { background-color: #AAAAAC; border: 2px groove white; border-radius: 10px;}
LaunchButton:hover { background-color: #DDDDDF;  }
LaunchButton:pressed { background-color: #666668; }

LaunchButton QLabel { padding: 0px; color: black; }